@model IEnumerable<WebApplicationASP1.drink>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome, Per Jensen!</h2>
<h5>(did you know: common name, Per Jensen, would be Petar Petrovic on serbian)</h5>
<br />
<h2>Drinks on stock:</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DrinkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDrink }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDrink }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDrink })
        </td>
    </tr>
}

</table>


<div>
    @Html.ActionLink("View Orders", "Index", "ordersAdmin")
</div>

<br />
<br />
<div>
    @Html.ActionLink("Log out", "Logout", "drinksAdmin")
</div>
